Repository pypi/warehouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, reformat

translations:
  name: translations
  entry: make translations
  language: system
  pass_filenames: false

reformat:
  name: reformat
  entry: make reformat
  language: system
  pass_filenames: false

test(oidc): replace pretend in utils and tasks
  tests/unit/oidc/test_tasks.py
  tests/unit/oidc/test_utils.py
Due: translations, reformat

Lint, translate
  warehouse/locale/messages.pot
  warehouse/templates/pages/classifiers.html
Due: translations, reformat

Adds license classifier deprecation message on the classifiers page (#20567)
  warehouse/locale/messages.pot
  warehouse/templates/pages/classifiers.html
Due: translations, reformat

Add Security tab: provenance status, attestations, and warnings
  tests/frontend/attestations_viewer_controller_test.js
  warehouse/static/js/warehouse/controllers/attestations_viewer_controller.js
  warehouse/static/sass/blocks/_attestations-viewer.scss
  warehouse/static/sass/blocks/_badge.scss
  warehouse/static/sass/blocks/_callout-block.scss
  warehouse/static/sass/blocks/_provenance-bar.scss
  warehouse/static/sass/blocks/_provenance-diff.scss
  warehouse/static/sass/blocks/_sidebar-section.scss
  warehouse/static/sass/warehouse.scss
  warehouse/templates/includes/packaging/file-provenance-status.html
  warehouse/templates/includes/packaging/metadata/provenance.html
  warehouse/templates/includes/packaging/project-metadata.html
  warehouse/templates/includes/packaging/project-navigation.html
  warehouse/templates/includes/packaging/project-security.html
  warehouse/templates/includes/packaging/security/attestation.html
  warehouse/templates/includes/packaging/security/changed-provenance.html
  warehouse/templates/includes/packaging/security/full-provenance.html
  warehouse/templates/includes/packaging/security/inconsistent-provenance.html
  warehouse/templates/includes/packaging/security/lost-provenance.html
  warehouse/templates/includes/packaging/security/no-provenance.html
  warehouse/templates/includes/packaging/security/partial-provenance.html
  warehouse/templates/includes/packaging/security/warning-for-file-detail.html
  warehouse/templates/includes/packaging/security/warning-for-file-list.html
  warehouse/templates/packaging/detail.html
  warehouse/templates/pages/security.html
Due: translations, reformat

Redesign files tab: file table, file detail page, and filters
  tests/frontend/filter_dropdown_controller_test.js
  tests/frontend/filter_list_controller_test.js
  warehouse/static/js/warehouse/controllers/filter_dropdown_controller.js
  warehouse/static/js/warehouse/controllers/filter_list_controller.js
  warehouse/templates/includes/file-details.html
  warehouse/templates/includes/packaging/project-files.html
Due: translations, reformat

Update release history card styling
  warehouse/static/sass/blocks/_release.scss
  warehouse/templates/includes/packaging/project-release-history.html
Due: translations, reformat

Show provenance warnings in the project status bar
  warehouse/static/sass/blocks/_project-status.scss
  warehouse/templates/includes/packaging/project-status.html
Due: translations, reformat

Wrap project tabs on tablet to accommodate new length with security tab
  warehouse/static/sass/blocks/_project-tabs.scss
Due: none

translations
  warehouse/locale/messages.pot
Due: none

Simplify the XML-RPC browse query
  tests/unit/legacy/api/xmlrpc/test_xmlrpc.py
  warehouse/legacy/api/xmlrpc/views.py
Due: translations, reformat

Cache the XML-RPC browse method
  docs/dev/api-reference/xml-rpc.md
  tests/unit/legacy/api/xmlrpc/test_xmlrpc.py
  warehouse/legacy/api/xmlrpc/views.py
Due: translations, reformat

fix: cache macaroon extraction per request
  docs/dev/security/security-policy-flow.md
  tests/unit/macaroons/test_security_policy.py
  warehouse/macaroons/security_policy.py
Due: translations, reformat

Simplify the XML-RPC browse query (#20581)
  docs/dev/api-reference/xml-rpc.md
  tests/unit/legacy/api/xmlrpc/test_xmlrpc.py
  warehouse/legacy/api/xmlrpc/views.py
Due: translations, reformat

fix: cache macaroon extraction per request (#20582)
  docs/dev/security/security-policy-flow.md
  tests/unit/macaroons/test_security_policy.py
  warehouse/macaroons/security_policy.py
Due: translations, reformat

fix: give the XML-RPC cache hashes an absolute TTL
  tests/conftest.py
  tests/unit/legacy/api/xmlrpc/test_cache.py
  warehouse/legacy/api/xmlrpc/cache/fncache.py
  warehouse/legacy/api/xmlrpc/views.py
Due: translations, reformat

unpin ruff
  requirements/lint.in
Due: none

code review: move comment up so ruff doesnt format gross
  docs/dev/security/security-policy-flow.md
Due: none

fix: give the XML-RPC cache hashes an absolute TTL (#20583)
  tests/conftest.py
  tests/unit/legacy/api/xmlrpc/test_cache.py
  warehouse/legacy/api/xmlrpc/cache/fncache.py
  warehouse/legacy/api/xmlrpc/views.py
Due: translations, reformat

refrehs lock for 0.16.18 ruff
  requirements/lint.txt
Due: none

perf: skip reindex and XML-RPC purges for audit-only changes
  tests/unit/legacy/api/xmlrpc/test_cache.py
  tests/unit/search/test_init.py
  tests/unit/utils/db/test_orm.py
  warehouse/cache/origin/__init__.py
  warehouse/legacy/api/xmlrpc/cache/__init__.py
  warehouse/search/__init__.py
  warehouse/utils/db/__init__.py
  warehouse/utils/db/orm.py
Due: translations, reformat

Update security policy last-updated date to September 2026
  warehouse/locale/messages.pot
  warehouse/templates/pages/security.html
Due: translations, reformat

perf: skip reindex and XML-RPC purges for audit-only changes (#20584)
  tests/unit/legacy/api/xmlrpc/test_cache.py
  tests/unit/search/test_init.py
  tests/unit/utils/db/test_orm.py
  warehouse/cache/origin/__init__.py
  warehouse/legacy/api/xmlrpc/cache/__init__.py
  warehouse/search/__init__.py
  warehouse/utils/db/__init__.py
  warehouse/utils/db/orm.py
Due: translations, reformat

Revert
  tests/unit/manage/test_forms.py
  tests/unit/utils/test_webauthn.py
  warehouse/manage/forms.py
  warehouse/utils/webauthn.py
Due: translations, reformat

Rename notification-bar class to banner
  warehouse/templates/includes/banner-messages.html
Due: translations, reformat

Rename .banner class to .page-hero
  warehouse/static/sass/blocks/_banner.scss
Due: none

chore(meta): update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/friction-issues.md
  .github/ISSUE_TEMPLATE/malware-check.md
  .github/ISSUE_TEMPLATE/~visual-design.md
Due: none

test: cover leak reports for attenuated tokens
  tests/unit/integration/secrets/test_utils.py
  tests/unit/macaroons/test_services.py
Due: translations, reformat

Rename banner classes to page-hero classes
  warehouse/static/sass/blocks/_project-header.scss
Due: none

Fix class name for dismissable banner
  warehouse/templates/includes/banner-messages.html
Due: translations, reformat

Update index.html
  warehouse/templates/index.html
Due: translations, reformat

Update project-header.html
  warehouse/templates/includes/packaging/project-header.html
Due: translations, reformat

feat(pyramid_components): add a component framework for Pyramid + Jinja2
  pyramid_components/CHANGELOG.md
  pyramid_components/LICENSE
  pyramid_components/README.md
  pyramid_components/pyproject.toml
  pyramid_components/src/pyramid_components/__init__.py
  pyramid_components/src/pyramid_components/component.py
  pyramid_components/src/pyramid_components/config.py
  pyramid_components/src/pyramid_components/jinja2.py
  pyramid_components/src/pyramid_components/props.py
  pyramid_components/src/pyramid_components/py.typed
  pyramid_components/src/pyramid_components/registry.py
  pyramid_components/tests/conftest.py
  pyramid_components/tests/test_api.py
  pyramid_components/tests/test_component.py
  pyramid_components/tests/test_config.py
  pyramid_components/tests/test_jinja2.py
  pyramid_components/tests/test_package.py
  pyramid_components/tests/test_props.py
  pyramid_components/tests/test_registry.py
Due: translations, reformat

feat(admin): dashboard stat cards via a stat_card component
  tests/conftest.py
  tests/functional/admin/conftest.py
  tests/functional/admin/test_dashboard.py
  tests/functional/test_templates.py
  tests/unit/admin/components/__init__.py
  tests/unit/admin/components/conftest.py
  tests/unit/admin/components/test_stat_card.py
  tests/unit/admin/test_core.py
  warehouse/admin/__init__.py
  warehouse/admin/components/__init__.py
  warehouse/admin/components/stat_card/__init__.py
  warehouse/admin/components/stat_card/stat_card.html
  warehouse/admin/templates/admin/dashboard.html
  webpack.config.js
Due: translations, reformat

build: install the in-repo pyramid_components package
  .dockerignore
  Dockerfile
  babel.cfg
  bin/lint
  pyproject.toml
  pyramid_components/pyproject.toml
  requirements/main.in
Due: translations

chore: replace debrecated browse xmlrpc method
  docs/dev/api-reference/xml-rpc.md
  tests/unit/legacy/api/xmlrpc/test_cache.py
  tests/unit/legacy/api/xmlrpc/test_xmlrpc.py
  warehouse/legacy/api/xmlrpc/views.py
Due: translations, reformat

chore: replace deprecated browse xmlrpc method (#20604)
  docs/dev/api-reference/xml-rpc.md
  tests/unit/legacy/api/xmlrpc/test_cache.py
  tests/unit/legacy/api/xmlrpc/test_xmlrpc.py
  warehouse/legacy/api/xmlrpc/views.py
Due: translations, reformat

Name the API_KEY placeholder's target the Maintainer API
  tests/unit/utils/test_security_policy.py
  warehouse/utils/security_policy.py
Due: translations, reformat

Honor route auth_methods in MacaroonSecurityPolicy
  docs/dev/security/security-policy-flow.md
  tests/conftest.py
  tests/unit/macaroons/test_security_policy.py
  warehouse/macaroons/security_policy.py
Due: translations, reformat

Require macaroon alongside basic-auth in auth_methods
  docs/dev/security/security-policy-flow.md
  tests/unit/test_predicates.py
  warehouse/predicates.py
Due: translations, reformat

Path conditions:
  translations: any of: \.py$|\.html$|babel\.cfg$
  reformat: any of: \.py$|\.html$
