Repository pypi/warehouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, reformat

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: translations
        name: translations
        entry: make translations
        language: system
        files: '\.py$|\.html$|babel\.cfg$'
        pass_filenames: false

      - id: reformat
        name: reformat
        entry: make reformat
        language: system
        files: '\.py$|\.html$'
        pass_filenames: false

Use wide modal for delete files modal
  warehouse/templates/manage/project/release.html
Due: translations, reformat

Remove bottom margin on last form group in modal
  warehouse/static/sass/blocks/_modal.scss
Due: none

make translations
  warehouse/locale/messages.pot
Due: none

Translations update from Weblate
  warehouse/locale/be/LC_MESSAGES/messages.po
  warehouse/locale/brx/LC_MESSAGES/messages.po
  warehouse/locale/kab/LC_MESSAGES/messages.po
  warehouse/locale/lo/LC_MESSAGES/messages.po
  warehouse/locale/rom/LC_MESSAGES/messages.po
  warehouse/locale/yi/LC_MESSAGES/messages.po
Due: none

Add a disabled-by-default Buildkite trusted publishing flag (#20523)
  tests/conftest.py
  warehouse/admin/flags.py
  warehouse/migrations/versions/a1c4b5219d5e_add_buildkite_oidc_flag.py
Due: translations, reformat

fix: reject non-UTF-8 MIME header decodes
  tests/unit/test_filters.py
  warehouse/filters.py
Due: translations, reformat

Translations update from Weblate (#20633)
  warehouse/locale/be/LC_MESSAGES/messages.po
  warehouse/locale/brx/LC_MESSAGES/messages.po
  warehouse/locale/kab/LC_MESSAGES/messages.po
  warehouse/locale/lo/LC_MESSAGES/messages.po
  warehouse/locale/rom/LC_MESSAGES/messages.po
  warehouse/locale/yi/LC_MESSAGES/messages.po
Due: none

fix(gha): enable zizmor to be part of a merge queue
  .github/workflows/zizmor.yml
Due: none

fix(gha): enable zizmor to be part of a merge queue (#20642)
  .github/workflows/zizmor.yml
Due: none

test(admin): replace pretend in admin tests (#20638)
  tests/unit/admin/test_bans.py
  tests/unit/admin/test_core.py
  tests/unit/admin/test_services.py
  tests/unit/admin/views/test_banners.py
  tests/unit/admin/views/test_core.py
  tests/unit/admin/views/test_emails.py
  tests/unit/admin/views/test_flags.py
  tests/unit/admin/views/test_helpscout.py
  tests/unit/admin/views/test_ipaddresses.py
  tests/unit/admin/views/test_macaroons.py
  tests/unit/admin/views/test_malware_reports.py
  tests/unit/admin/views/test_observers.py
  tests/unit/admin/views/test_organizations.py
  tests/unit/admin/views/test_prohibited_email_domains.py
  tests/unit/admin/views/test_prohibited_project_names.py
  tests/unit/admin/views/test_prohibited_user_names.py
  tests/unit/admin/views/test_projects.py
  tests/unit/admin/views/test_sponsors.py
  tests/unit/admin/views/test_users.py
Due: translations, reformat

feat(pyramid_components): add a component framework for Pyramid + Jinja2
  pyramid_components/CHANGELOG.md
  pyramid_components/LICENSE
  pyramid_components/README.md
  pyramid_components/pyproject.toml
  pyramid_components/src/pyramid_components/__init__.py
  pyramid_components/src/pyramid_components/component.py
  pyramid_components/src/pyramid_components/config.py
  pyramid_components/src/pyramid_components/jinja2.py
  pyramid_components/src/pyramid_components/props.py
  pyramid_components/src/pyramid_components/py.typed
  pyramid_components/src/pyramid_components/registry.py
  pyramid_components/tests/conftest.py
  pyramid_components/tests/test_api.py
  pyramid_components/tests/test_component.py
  pyramid_components/tests/test_config.py
  pyramid_components/tests/test_jinja2.py
  pyramid_components/tests/test_package.py
  pyramid_components/tests/test_props.py
  pyramid_components/tests/test_registry.py
Due: translations, reformat

build: install the in-repo pyramid_components package
  .dockerignore
  Dockerfile
  babel.cfg
  bin/lint
  pyproject.toml
  pyramid_components/pyproject.toml
  requirements/main.in
Due: translations

refactor(forklift): extract direct-dependency check
  warehouse/forklift/metadata.py
Due: translations, reformat

fix(forklift): reject direct dependencies in artifact metadata
  tests/unit/forklift/test_legacy.py
  tests/unit/forklift/test_metadata.py
  warehouse/forklift/legacy.py
  warehouse/forklift/metadata.py
Due: translations, reformat

fix(forklift): harden the sdist PKG-INFO read
  tests/unit/forklift/test_legacy.py
  tests/unit/forklift/test_metadata.py
  warehouse/forklift/legacy.py
  warehouse/forklift/metadata.py
Due: translations, reformat

fix(forklift): reject non-canonical archive member paths
  tests/unit/forklift/test_legacy.py
  warehouse/forklift/legacy.py
Due: translations, reformat

fix(forklift): reject direct dependencies in artifact metadata (#20643)
  tests/unit/forklift/test_legacy.py
  tests/unit/forklift/test_metadata.py
  warehouse/forklift/legacy.py
  warehouse/forklift/metadata.py
Due: translations, reformat

strip field
  warehouse/filters.py
Due: translations, reformat

test strip
  tests/unit/test_filters.py
Due: translations, reformat

test strip forms
  tests/functional/manage/test_views.py
  tests/unit/admin/views/test_organizations.py
Due: translations, reformat

also strip forms!
  warehouse/admin/views/organizations.py
  warehouse/locale/messages.pot
  warehouse/manage/forms.py
Due: translations, reformat

allow cancelling if not in bad state list
  warehouse/locale/messages.pot
  warehouse/manage/views/organizations.py
Due: translations, reformat

Strip URL in org admin (#20644)
  tests/functional/manage/test_views.py
  tests/unit/admin/views/test_organizations.py
  tests/unit/test_filters.py
  warehouse/admin/views/organizations.py
  warehouse/filters.py
  warehouse/locale/messages.pot
  warehouse/manage/forms.py
Due: translations, reformat

Address admonition styling feedback
  warehouse/static/sass/blocks/_project-description.scss
Due: none

Remove admonition-see-also customization
  warehouse/static/sass/blocks/_project-description.scss
Due: none

Make attestation filters unique
  warehouse/templates/includes/packaging/project-security.html
Due: translations, reformat

Fix CSS bug where attestations sidebar cuts off
  warehouse/static/sass/blocks/_attestations-viewer.scss
Due: none

Bump Dockerfile to Python 3.14.8
  .python-version
  Dockerfile
Due: none

Bump Dockerfile to Python 3.14.8 (#20648)
  .python-version
  Dockerfile
Due: none

reject metdata
  warehouse/forklift/metadata.py
Due: translations, reformat

test new org bill cancel checks
  tests/unit/manage/views/test_organizations.py
Due: translations, reformat

rm sqla bump, will do another pr
  requirements/main.txt
Due: none

bump sqla to 2.1
  requirements/main.txt
Due: none

ai: test metadata rejection for ?= stuff
  tests/unit/forklift/test_metadata.py
Due: translations, reformat

ai: migrte to sqla 2.1 new
  warehouse/admin/user_export.py
  warehouse/admin/views/helpers.py
  warehouse/admin/views/journals.py
  warehouse/admin/views/observations.py
  warehouse/admin/views/vulnerabilities.py
  warehouse/packaging/tasks.py
Due: translations, reformat

fix: migrate DISTINCT ON queries for SQLAlchemy 2.1
  warehouse/admin/views/prohibited_project_names.py
  warehouse/admin/views/projects.py
  warehouse/locale/messages.pot
  warehouse/packaging/views.py
  warehouse/search/tasks.py
Due: translations, reformat

refactor: use type statement for upload row alias
  warehouse/admin/user_export.py
Due: translations, reformat

Allow organizations to delete if in odd Stripe state (#20651)
  tests/unit/manage/views/test_organizations.py
  warehouse/locale/messages.pot
  warehouse/manage/views/organizations.py
Due: translations, reformat

allow health suffixes
  warehouse/routes.py
Due: translations, reformat
