Repository pypi/warehouse: changes, and which pre-commit hooks are due for each by the changed paths.
All: translations, reformat

translations:
  name: translations
  entry: make translations
  language: system
  pass_filenames: false

reformat:
  name: reformat
  entry: make reformat
  language: system
  pass_filenames: false

Address 2FA docs feedback
  docs/user/your-account/two-factor-authentication.md
Due: none

Fix titles and menu links for consistency
  docs/mkdocs-user-docs.yml
  docs/user/attestations/index.md
Due: none

Update license docs per PEP 639
  docs/user/about/contributing.md
  docs/user/project_metadata.md
Due: none

remove :: from license classifier docs
  docs/user/about/contributing.md
  docs/user/project_metadata.md
Due: none

docs: update classifier translation catalog
  warehouse/locale/messages.pot
Due: none

docs: deprecate License classifiers
  warehouse/templates/pages/classifiers.html
Due: translations, reformat

Update license classifier deprecation warning
  warehouse/locale/messages.pot
  warehouse/templates/pages/classifiers.html
Due: translations, reformat

Align WebAuthn registration error handling
  tests/unit/manage/test_forms.py
  tests/unit/utils/test_webauthn.py
  warehouse/manage/forms.py
  warehouse/utils/webauthn.py
Due: translations, reformat

Fix lint errors
  tests/unit/utils/test_webauthn.py
Due: translations, reformat

revert fmter bumps
  requirements/lint.in
  requirements/lint.txt
Due: none

revert attestation bump
  requirements/main.in
  requirements/main.txt
Due: none

bump ruff
  requirements/lint.in
Due: none

ignore new too many rule
  pyproject.toml
Due: none

run ruff 0.17
  tests/unit/admin/views/test_malware_reports.py
  warehouse/forklift/legacy.py
Due: translations, reformat

undo, was on wrong branch
  pyproject.toml
  requirements/lint.in
  tests/unit/admin/views/test_malware_reports.py
  warehouse/forklift/legacy.py
Due: translations, reformat

configure CPY0001 for SPDX
  pyproject.toml
Due: none

bump ruff!
  requirements/lint.in
  requirements/lint.txt
Due: none

fmt docs
  docs/blog/posts/2024-11-25-aiocpa-attack-analysis.md
  docs/dev/api-reference/xml-rpc.md
  docs/dev/development/email.md
  docs/dev/security/security-policy-flow.md
  docs/dev/translations.md
  docs/user/api/index.md
  docs/user/attestations/producing-attestations.md
  docs/user/main.py
  docs/user/trusted-publishers/using-a-publisher.md
Due: translations, reformat

fmt tests
  tests/functional/README.md
  tests/unit/accounts/test_views.py
  tests/unit/admin/views/test_journals.py
  tests/unit/admin/views/test_malware_reports.py
  tests/unit/admin/views/test_prohibited_project_names.py
  tests/unit/api/test_simple.py
  tests/unit/forklift/test_legacy.py
  tests/unit/integration/secrets/test_utils.py
  tests/unit/macaroons/test_services.py
  tests/unit/manage/test_forms.py
  tests/unit/manage/test_views.py
  tests/unit/manage/views/test_organizations.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_gitlab.py
  tests/unit/oidc/test_views.py
  tests/unit/packaging/test_models.py
  tests/unit/test_predicates.py
  tests/unit/utils/test_gravatar.py
  tests/unit/utils/test_wheel.py
Due: translations, reformat

fmt code
  warehouse/forklift/legacy.py
Due: translations, reformat

undo pyjwt bump
  requirements/main.in
  requirements/main.txt
Due: none

fix failing ci due to bump[
  tests/common/constants.py
Due: translations, reformat

bump pyjwt
  requirements/main.in
  requirements/main.txt
Due: none

bumpd jlint
  requirements/lint.in
  requirements/lint.txt
Due: none

Style GitHub admonitions in project descriptions
  warehouse/static/sass/blocks/_project-description.scss
Due: none

Style additional reStructuredText admonitions
  warehouse/static/sass/blocks/_project-description.scss
Due: none

Restore missing icon mappings lost in match/case conversion (security, source/repository, telegram, matrix, release notes); add test coverage
  tests/unit/test_filters.py
  warehouse/filters.py
Due: translations, reformat

feat(pyramid_components): add a component framework for Pyramid + Jinja2
  pyramid_components/CHANGELOG.md
  pyramid_components/LICENSE
  pyramid_components/README.md
  pyramid_components/pyproject.toml
  pyramid_components/src/pyramid_components/__init__.py
  pyramid_components/src/pyramid_components/component.py
  pyramid_components/src/pyramid_components/config.py
  pyramid_components/src/pyramid_components/jinja2.py
  pyramid_components/src/pyramid_components/props.py
  pyramid_components/src/pyramid_components/py.typed
  pyramid_components/src/pyramid_components/registry.py
  pyramid_components/tests/conftest.py
  pyramid_components/tests/test_api.py
  pyramid_components/tests/test_component.py
  pyramid_components/tests/test_config.py
  pyramid_components/tests/test_jinja2.py
  pyramid_components/tests/test_package.py
  pyramid_components/tests/test_props.py
  pyramid_components/tests/test_registry.py
Due: translations, reformat

Bump PyJWT to 2.14 (#20572)
  requirements/main.in
  requirements/main.txt
  tests/common/constants.py
Due: translations, reformat

feat(admin): dashboard stat cards via a stat_card component
  tests/conftest.py
  tests/functional/admin/conftest.py
  tests/functional/admin/test_dashboard.py
  tests/functional/test_templates.py
  tests/unit/admin/components/__init__.py
  tests/unit/admin/components/conftest.py
  tests/unit/admin/components/test_stat_card.py
  tests/unit/admin/test_core.py
  warehouse/admin/__init__.py
  warehouse/admin/components/__init__.py
  warehouse/admin/components/stat_card/__init__.py
  warehouse/admin/components/stat_card/stat_card.html
  warehouse/admin/templates/admin/dashboard.html
  webpack.config.js
Due: translations, reformat

build: install the in-repo pyramid_components package
  .dockerignore
  Dockerfile
  babel.cfg
  bin/lint
  pyproject.toml
  pyramid_components/pyproject.toml
  requirements/main.in
Due: translations

refactor(admin): observer reputation tiles via the stat_card component
  tests/functional/admin/test_observations.py
  warehouse/admin/templates/admin/observers/reputation.html
Due: translations, reformat

feat(admin): insights info boxes via an info_box component
  tests/functional/admin/test_observations.py
  tests/unit/admin/components/test_info_box.py
  tests/unit/admin/components/test_registration.py
  warehouse/admin/components/__init__.py
  warehouse/admin/components/info_box/__init__.py
  warehouse/admin/components/info_box/info_box.html
  warehouse/admin/templates/admin/observations/insights.html
Due: translations, reformat

test(oidc): replace pretend in forms
  tests/unit/oidc/forms/test_activestate.py
  tests/unit/oidc/forms/test_github.py
  tests/unit/oidc/forms/test_gitlab.py
  tests/unit/oidc/forms/test_google.py
Due: translations, reformat

test(oidc): replace pretend in models
  tests/unit/oidc/models/test_activestate.py
  tests/unit/oidc/models/test_core.py
  tests/unit/oidc/models/test_github.py
  tests/unit/oidc/models/test_gitlab.py
  tests/unit/oidc/models/test_google.py
Due: translations, reformat

test(oidc): replace pretend in views
  tests/unit/oidc/test_views.py
Due: translations, reformat

test(oidc): replace pretend in services
  tests/unit/oidc/test_services.py
Due: translations, reformat

Path conditions:
  translations: any of: \.py$|\.html$|babel\.cfg$
  reformat: any of: \.py$|\.html$
